body{
	background-color: #EEEEEE;
}
.navbar{
	background-color: #45526e;
}
.navbar > .container > a,
.navbar > .container > .collapse > ul > li > a{
	color: #fff;
}

.navbar > .container > .collapse > ul > li:hover{
	background-color: rgba(0,0,0,0.2);
	border-radius: 10px;
}


#isbasvuru-formu{
	margin: 0 auto;
	width: 60%;
	padding: 20px;
}

footer{
	margin-top: 40px;
}

.btn-circle {
	width: 50px;
	height: 50px;
	padding: 6px 0px;
	border-radius: 25px;
	text-align: center;
	font-size: 20px;
	line-height: 1.5;
	color: #f8f9fa;
	border: 1px solid transparent;
	box-shadow: 0 1px 6px rgba(0,0,0,0.3);
}

.btn-circle:hover{
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out;
	cursor: pointer;
}

footer,.page-footer {
	bottom: 0;
	color: #f8f9fa;
}
.mdb-color {
	background-color: #45526e!important;
}

footer {
	margin-top: 40px;
}

footer,.page-footer, .footer-copyright {
	overflow: hidden;
	background-color: rgba(0,0,0,.2);
}

.list-unstyled > li > p > a,
.footer-copyright>a{
	color: #f8f9fa;
}

.carousel{
	width: 110%;
}

.clear-both{
	clear: both;
}

.carousel-inner{
	height: 400px;
}
.carousel-inner > div > img{
	height: 100%;
	width: 100%;
	vertical-align:top;
}

.side-menu{
	border: 1px solid #45526E;
	list-style-type: none;
	margin:0;
	padding:0;
	background-color:#fff;
	width: 190px;
	float: left;
	position: relative !important;
	z-index: 9999 !important;
}

.side-menu > li{
	width: auto;
	font-size:14px;
}

.side-menu > li > a{
	display: block;
	color: #000;
	text-decoration: none;
	padding: 16px 0 16px 16px;
}

ul li:hover > a {
	color: white;
	background-color: #555;
}
.dropdown{
	height: 50px;
}
.dropdown-content {
	min-width: 110px;
	display: none;
	left: 150px;
	float:left;
	top: 0;
	position: absolute;
	font-size:14px;
	list-style-type: none;
}

.dropdown-content li{
	width: 100%;
	background-color: #fbfbfb;
	color: black;
	text-decoration: none;
	display: block;
	width: 110px;
	text-align: left;
	padding: 16px 0 16px 16px;
}

.dropdown:first-child:hover > .dropdown-content {
	display: block;
	background-color: #fbfbfb;
	top: -1px;
	left: 190px;
	height: 402px;
	width: 920px;
}

.dropdown:nth-child(2):hover > .dropdown-content {
	display: block;
	background-color: #fbfbfb;
	top: -51px;
	left: 190px;
	height: 402px;
	width: 920px;
}

.dropdown:nth-child(3):hover > .dropdown-content {
	display: block;
	background-color: #fbfbfb;
	top: -101px;
	left: 190px;
	height: 402px;
	width: 920px;
}

.dropdown:nth-child(4):hover > .dropdown-content {
	display: block;
	background-color: #fbfbfb;
	top: -151px;
	left: 190px;
	height: 402px;
	width: 920px;
}

.dropdown:nth-child(5):hover > .dropdown-content {
	display: block;
	background-color: #fbfbfb;
	top: -201px;
	left: 190px;
	height: 402px;
	width: 920px;
}
.dropdown:nth-child(6):hover > .dropdown-content {
	display: block;
	background-color: #fbfbfb;
	top: -251px;
	left: 190px;
	height: 402px;
	width: 920px;
}

.dropdown:nth-child(7):hover > .dropdown-content {
	display: block;
	background-color: #fbfbfb;
	top: -301px;
	left: 190px;
	height: 402px;
	width: 920px;
}

.dropdown:nth-child(8):hover > .dropdown-content {
	display: block;
	background-color: #fbfbfb;
	top: -351px;
	left: 190px;
	height: 402px;
	width: 920px;
}
.dropdown:hover > .dropdown-content > .dropdown-content-row{
	display:inline-flex;
	width: 100%;
}

.dropdown:hover > .dropdown-content > .dropdown-content-row > img{
}

@media only screen and (max-width: 1200px) {
	.side-menu{
		width: 160px;
	}

	.dropdown-content {
		width: auto;
		left: 120px;
	}
}

.slider-menu{
	background-color: #fff;
	padding: 20px 0 20px 0;
}

/* Start Services*/


.services{
	padding: 20px 0px 40px 0px;
}

.services h2{
	margin:0 0 50px;
}

.services .item{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.services > .container{
	background-color: #fff;
	padding:40px;
	align-content: center;
	text-align: center
}

.services .item i{
	color: #1abc9c;
	float: left;
	width: 15%;
	margin-right: 10%;
	margin-top: 10px;
}

.services .item .info{
	float: left;
	width: 75%;
}

.services .item .info img{
	margin-bottom: 10px;
}

.services .item .info h5{
	font-weight: bold;
	color: #585353;
	margin-bottom: 20px;
}
.services .item .info p{
	margin-top: 0;
	color: #888;
}
/*end of services*/

.category-row{
	margin-bottom: 20px;
}

.card{
	background-color: #eee;
}

<<<<<<< HEAD
.active{
	background-color: #57637c;
}

.hakk-text{
	font-size: 20px;
}

.hakk-title{
	margin-top: 20px;
	margin-bottom: 20px;
}

.dropdown-content-row > li> p{
	text-align: center;
	margin-top: 4px;
}
=======
/* Carddeck */
.card-deck .card {
		margin-bottom: .75rem;
}
@media (max-width: 1024px) {

	.card-deck-wrapper {margin-right:0;margin-left:0;}
	.card-deck {
	    display: block;
	    width: 100%;
	    margin-bottom: .75rem;
	    table-layout: fixed;
	    border-spacing: 1.25rem 0;
	}
	.card-deck .card {
	    display: block;
	    margin-bottom: .75rem;
	    vertical-align: top;
	}

}
<<<<<<< HEAD
>>>>>>> 95525c427531fb6cc9cf518bf745bc856307650a
=======

#job-headers{
	background-color: grey;
	border-radius: 20px;
	vertical-align: middle;
	color: white;
	padding: 6px 6px 6px 8px;
	margin-top: 16px;
	margin-bottom: 12px;
}
#isbasvuru-formu input{
	border-radius: 16px;
}
#isbasvuru-formu select {
	border-radius: 16px;
}
#isbasvuru-formu textarea{
	border-radius: 16px;
}
>>>>>>> a191e286a6dceec8172fb3318fcf8561d2b8ca25
